*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    max-width: 80em;
    margin: 2em auto;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
    justify-content: center;
}

header,
main,
aside,
footer {
    background: #000;
    color: #FFF;
    border-radius: 0.2em;
    padding: 1em;
    margin: 0 2em;
}

header,
footer {
    grid-column: 1 / -1;
}

main {
    grid-column: 1 / span 3;
}

aside {
    margin-left: 0;
}