@import url("typography.css");
@import url("navigation.css");
@import url("layout.css");

body {
    background: rgb(238, 238, 238);
    max-width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}