@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:400,700&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.site-header {
    background: url('../Requirements-and-Resources/image/image.jpg') center no-repeat;
    background-size: cover;
    background-position: center;
}

.site-title h1 {
    width: 20%;
    font-size: 2.5em;
    color: rgb(54, 52, 52);
    padding: 2em 0 0 2em;
}

.site-title h1:after {
    display: block;
    content: '';
    border-bottom: 2px solid #FFF;
    width: 100%;
}

.site-title p {
    padding-left: 5em;
    padding-top: 0.5em;
    color: rgb(54, 52, 52);
}

.site-description {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15rem;
}

.site-description div {
    width: 25%;
    height: auto;
    padding: 1em;
    margin-right: 2.5em;
    text-align: right;
    /* padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 15%;
    margin-right: 2.5rem; */
    box-shadow: 3px 7px 29px 0px rgba(0,0,0,0.95);
    background: linear-gradient(to right, rgba(71,67,71,0.9) 0%, rgba(181,175,181,0.9) 93%, rgba(189,183,189,1) 100%);
}

.site-description div i {
  color: #7D7673;
  margin-left: 15rem;
  padding: 1.5em 1em 1em 0;
}

.site-description div p {
    font-size: 12px;
    color: #FFF;
}

.site-main {
    position: relative;
    background: rgb(242, 240, 243);
}

.services {
    padding: 3rem 3rem 0 3rem;
    width: 65%;
}

.services h2 {
    color: rgb(54, 52, 52);
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.services p {
    padding-bottom: 1rem;
}

.services p span {
    text-transform: uppercase;
    font-weight: bold;
}

.contacts {
    padding: 2rem;
    width: 65%;
    position: relative;
}

.contacts h2 {
    text-transform: uppercase;
    color: rgb(54, 52, 52);
    margin-left: 1rem;
}

.contacts h2:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    border-bottom: 2px solid rgb(128, 128, 128);
    width: 120%;
}

.contacts ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.contacts ul li {
    flex: 0 0 25%;
    list-style: none outside;
}

.contacts p {
    display: flex;
    justify-content: center;
}

.contacts p input {
    width: 40%;
    padding: 0.5rem;
    outline: none;
    border: transparent;
    border-radius: 3px;
    background: rgb(186, 177, 173);
}

.contacts p input::placeholder {
    color: #FFF;
}

.contacts p a {
    text-decoration: none;
    color: #FFF;
    background: rgb(103, 120, 77);
    margin-left: 1rem;
    border-radius: 3px;
    font-size: 13px;
    padding: 0.5rem;
}

.aside {
    background: rgb(186, 177, 173);
    position: absolute;    
    top: 0; right: 0;
    width: 30%;
    height: 100%;
}

.aside .aside-content {
    display: flex;
    flex-wrap: wrap;
}

.aside .aside-content span {
    flex: 0 0 100%;
}

.aside .aside-numbers {
    color: #FFF;
    font-size: 4rem;
    font-weight: normal;
    padding-top: 2.5rem;
    padding-left: 1rem;
}

.aside .aside-text {
    padding-left: 1.2rem;
    margin-top: -1rem;
}

.bold {
    font-weight: bold;
}