@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: PT Sans, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

li {
    list-style: none outside;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

/* Header */
.wrapper .header-section {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../Requirements-and-Resources/image/computer-main.jpg") center / cover no-repeat;
    background-size: cover;
}

.wrapper .header-ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.wrapper .header-ul li {
    flex: 0 0 40%;
    text-align: center;
    font-size: 1.5rem;
}

.wrapper .header-ul li a {
    color: #FFF;
}

.wrapper .site-title {
    text-align: center;
    font-size: 4rem;
    color: #FFF;
    font-weight: bold;
    padding: 2rem;
    /* margin-bottom: 3rem; */
}

.wrapper .title-info {
    display: flex;
    justify-content: center;
}

.wrapper .title-info p {
    flex: 0 0 50%;
    text-align: center;
    color: #FFF;
    font-size: 25px;
    padding: 1rem;
}

.wrapper .button-flex {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.wrapper .button {
    color: #FFF;
    background: rgb(0, 208, 142);
    padding: 0.4rem 1rem;
    border-radius: 0.2rem;
    text-align: center;
    border: 2px solid rgb(0, 208, 142);
}

.wrapper .button:hover {
    background: transparent;
    color: #FFF;
    border: 2px solid #FFF;
}

.wrapper .action {
    display: flex;
    justify-content: center;
    padding: 3rem;
    cursor: pointer;
}

.wrapper .action p {
    color: #FFF;
}

/* Main first section*/
main .main-section {
    display: flex;
}

main .main-section article {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
}

main .main-section .main-picture img {
    flex: 0 0 50%;
    width: 100%;
    height: auto;
}

main .main-section .main-content {
    padding: 5rem;
}

main .main-section .main-content h2 {
    font-size: 30px;
}

main .main-section .main-content p {
    font-size: 20px;
    margin-bottom: 4rem;
}

main .main-section .main-content ul {
    margin-bottom: 0.5rem;
}

main .main-section .main-content ul li {
    margin-bottom: 1rem;
}

main .main-section .main-content ul li i {
    padding-right: 0.8rem;
    color: rgb(0, 208, 142);
}

/* Main second section */
main .secondary-section {
    display: flex;
}

main .secondary-section article {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
}

main .secondary-section .secondary-info h2 {
    flex: 0 0 100%;
    margin-top: 1.5rem;
    text-align: center;
}

main .secondary-section .secondary-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .secondary-section .secondary-info ul p {
    color: rgb(0, 208, 142);
}

main .secondary-section .secondary-info li {
    flex: 0 0 30%;
    text-align: center;
}

main .secondary-section .secondary-info li img {
    width: 50%;
    height: auto;
}

main .secondary-image img {
    flex: 1 0 auto;
}

/* Footer */
footer .footer-section {
    display: flex;
    flex-wrap: wrap;
    background: rgb(178, 241, 221);
}

footer .footer-section h2 {
    flex: 0 0 100%;
    text-align: center;
    margin-top: 1rem;
}

footer .footer-section ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .footer-section ul li {
    flex: 0 0 30%;
    text-align: center;
    padding: 2rem;
}

.footer-message {
    flex: 1 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

.span-bold {
    font-weight: bold;
}