li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

img {
    border-width: 0.4rem;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

.resize-img {
    width: 300px;
}