@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    color: red;
    line-height: 1.2;
    font-family: Montserrat, sans-serif;
    padding: 20px 20px;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
}

section {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 32%;
}

.first-section article,
.second-section article {
    border: 1px solid gray;
    margin: 15px;
    border-radius: 1em;
    width: auto;
}

img {
    width: 100%;
    height: auto;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

p {
    padding: 1em 0 1em 1em;
}

h3 {
    padding-bottom: 1em;
}

.aside-section {
    margin-left: 2em;
    margin-top: 2em;
}

.aside-section ul {
    list-style: none outside;
}

.aside-section li {
    padding: 0.5em 0;
}

.aside-section a {
    text-decoration: none;
    color: red;
}