@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.wrapper {
    max-width: 50em;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper ul li {
    list-style: none outside;
    margin-top: 0.5em;
    opacity: 0;
    animation: fadeIn 0.3s ease-in;
    animation-fill-mode: forwards;
}

.wrapper ul li:nth-child(1) {
    animation-delay: 0.2s;
}

.wrapper ul li:nth-child(2) {
    animation-delay: 0.4s;
}    

.wrapper ul li:nth-child(3) {
    animation-delay: 0.6s;
}

.wrapper ul li:nth-child(4) {
    animation-delay: 0.8s;
} 

.wrapper ul li:nth-child(5) {
    animation-delay: 1s;
} 

.wrapper ul li:nth-child(6) {
    animation-delay: 1.2s;
} 

.wrapper ul li:nth-child(7) {
    animation-delay: 1.4s;
}    

.wrapper ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

.wrapper ul li a i {
    margin-right: 0.3em;
    width: 1.3em;
}

@keyframes fadeIn {
    from {
        transform: translateX(-2em);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}