body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    background: rgb(238, 238, 238);
}

h1, h2 {
    font-family: Georgia, serif;
}

hr {
    border: 1px solid black;
}

.first-img {
    float: right;
    border: 3px solid black;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

.second-img {
    margin-right: 10px;
    float: left;
    border: 3px solid black;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

blockquote {
    font-family: Georgia, serif;
    width: 300px;
    border-left: 5px solid rgb(221, 221, 221);
    margin: 5px;
    float: right;
    padding: 0 30px;
    color: grey;
    height: 180px;
}

.author {
    float: right;
    color: grey;
    margin-top: 30px;
}