*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em auto;
}

.wrapper {
    width: 50em;
    height: 40em;
    position: relative;
}

.wrapper:before,
.wrapper:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wrapper:before {
    background: linear-gradient(to bottom, rgb(202, 135, 53), rgb(247, 217, 179));
}

.wrapper:after {
    background: linear-gradient(to bottom, rgb(135, 152, 164), rgb(231, 237, 240));
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

.wrapper:hover:after {
    opacity: 0;
}