body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    margin-left: 80px;
    background: rgb(238, 238, 238);
}

.nav-bar {
    position: absolute;
    padding-top: 30px;
    padding-left: 1000px;
    list-style-type: none;
   }

.nav-bar > li {
    float: right;
    margin: 5px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: rgb(76, 138, 93);
}

aside {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 240px;
    margin-left: 70px;
    margin-right: 170px;
}

.site-title {
    float: left;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

h1, h2 {
    font-family: Georgia, serif;
}

hr {
    border: 1px solid black;
    background-color: black;
    width: 1300px;
}

.first-img {
    float: right;
    border: 3px solid black;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

.second-img {
    margin-right: 10px;
    float: left;
    border: 3px solid black;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

blockquote {
    font-family: Georgia, serif;
    width: 300px;
    border-left: 5px solid rgb(221, 221, 221);
    margin: 5px;
    float: right;
    padding: 0 30px;
    color: grey;
    height: 180px;
}

.author {
    float: right;
    color: grey;
    margin-top: 30px;
}