@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    padding: 5rem;
    
}

form {
    max-width: 35rem;
    margin: 0 auto;
}

form fieldset {
    display: flex;
    border-radius: 0.2rem;
    border: 2px solid #999;
    padding: 2rem;
}

form fieldset p {
    padding: 0.5rem;
    display: flex;
}

form legend {
    display: inline-block;
    border: 2px solid #999;
    border-radius: 0.2rem;
    margin-left: -2.3rem;
    padding: 0.5rem;
    width: 140px;
}

form label {
    flex: 0 1 10%;
    align-self: center;
    margin-right: 0.5rem;
}

form input {
    flex: 1 1 auto;
    padding: 0.5rem;
    border: 1px solid #999;
    border-radius: 0.2rem;
    outline: none;
}

#username,
#password {
    border: 1px solid #999;
}

#username:focus,
#password:focus {
    border-color: #000;
}

#submit {
    width: 100px;
    border: none;
    color: #FFF;
    background: rgb(45, 45, 45);
    border: 1px solid rgb(45, 45, 45);
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

#submit:focus {
    color: rgb(45, 45, 45);
    background: #FFF;
    border: 1px solid rgb(45, 45, 45);
}

.fas {
    position: absolute;
    margin-top: 0.6rem;
    margin-left: 1rem;
}