@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap');

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: PT Serif, serif;
}

.container {
   display: flex;
   max-width: 900px;
   margin: 2rem auto;
   box-shadow: 0px -1px 37px 0px rgba(0,0,0,0.75);
}

.content {
    background: url("../Requirements-and-Resources/image/image1.png");
    flex: 0 0 50%;
    padding: 2.5rem 1.5rem;
}

.image-container {
    display: block;
    position: relative;
    overflow: hidden;
    flex: 0 0 50%;
}

img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

img:after {
    display: block;
    content: '';
    padding-top: 100%;
}

h1 {
    text-align: center;
    border-bottom: dotted rgb(94, 136, 29);
}

div {
    display: flex;
    justify-content: space-between;
}

ul {
    margin-top: 1.5em;
}

ul li {
    list-style: none outside;
    padding: 0.3em;
}

ul li span {
    color: rgb(94, 136, 29);
    font-weight: bold;
}

.description {
    padding: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 1em;
}

table, th, td {
    border: 2px solid rgb(94, 136, 29);
}

