*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: grid;
    margin: 5em auto;
    grid-template-columns: repeat(5, 6em);
    grid-template-rows: repeat(5, 6em);
    grid-gap: 0.5em;
    justify-content: center;
}

.box {
    background: #000;
    border: 1px solid #000;
    border-radius: 0.5em;
}

.box:nth-child(even) {
    background: #FFF;
}